Package: enigma2-plugin
Version: skin.NitroAdvanceFHD-V5
Section: skins
Priority: optional
Architecture: all
Maintainer: kimoo
Description: skins NitroAdvanceFHD
Depends: wireless-tools, enigma2
Source: 
Homepage: www.kaleemclub.blogspot.com
OE: enigma2
License: Proprietary
